.Nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backIcon{
    width: 18px;
    height: 32px;
    position: absolute;
    top: 28px;
    left: 30px;
}