@import "../theme_colors";
.password-setting{
  height: 100vh;
  padding: 26rpx;
  background-color: #fff;
  .password-box{
    width: 697rpx;
    height: 88rpx;
    margin-top: 30rpx;
    line-height: 88rpx;
    border-radius: 10rpx;
    border: solid 2rpx rgba(#000000,.1);
    font-size: 30rpx;
    font-weight: bold;
    letter-spacing: 0;
    color: #333333;
    &>view{
      display: inline-block;
      float: left;
    }
    .password-set-name{
      text-align: center;
      width: 186rpx;
    }
    .password-item{
      margin-top: 20rpx;
      height: 45rpx;
      line-height: 45rpx;
      width: 83rpx;
      text-align: center;
      border-right: solid 1rpx rgba(#000000,.1);
      &:last-child{
        border: none;
      }
    }
  }
  .password-desc{
    height: 66rpx;
    line-height: 66rpx;
    font-size: 25rpx;
  }
  .password-desc-left{
    font-family: PingFangSC-Regular;
    color: #333333;
    opacity: 0.39;
    float: left;
  }
  .password-desc-right{
    float: right;
  }
  .password-save-btn {
    margin-top: 60rpx;
    width: 697rpx;
    height: 88rpx;
    text-align: center;
    line-height: 88rpx;
    color: #ffffff;
    border-radius: 44px;
  }
  .password-hidden{
    height: 0;
  }
}

@each $theme,$color in $theme_colors{
  .#{$theme} {
    .password-desc-right{
      color: $color;
    }
    .password-save-btn{
      background-color: $color;
    }
  }
}