@font-face {
  font-family: "悦黑";
  src: url("yuehei.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alien";
  src: url("Alien-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
