.readContianer{
    width: 90%;
    margin:0 auto;
    .mainBox{
        background: #FFFFFF;
        box-shadow: 0 10px 30px 0 rgba(213,213,213,0.50);
        border-radius: 20px;
        padding:72px 0 70px;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .book{
            width: 150px;
            height: 134px;
            margin-bottom: 68px;
        }
        .title{
            font-family: PingFangHK-Medium;
            font-size: 48px;
            color: #333333;
            letter-spacing: 2px;
            line-height: 67px;
            .num{
                font-family: PingFangHK-Medium;
                font-size: 48px;
                color: #24AFE7 ;
                letter-spacing: 2px;
                line-height: 67px;
            }
        }
    }
    .rule{
        background: #FFFFFF;
        box-shadow: 0 10px 30px 0 rgba(213,213,213,0.50);
        border-radius: 20px;
        margin-top:40px;
        li{
            font-family: PingFangSC-Regular;
            font-size: 28px;
            color: #333333;
            letter-spacing: 1.56px;
            line-height: 40px;
            padding:30px 20px;
            border-bottom: 1px solid #e5e5e5;
            width: 83%;
            margin:0 auto;
            &:last-child{
                border-bottom: none;
            }
        }
    }
    .readBtn{
        background: #24AFE7;
        box-shadow: 0 4px 14px 0 #B5B5B5;
        border-radius: 100px;
        width:80%;
        height: 98px;
        line-height: 98px;
        color:#fff;
        font-family: PingFangTC-Medium;
        font-size: 32px;
        letter-spacing: 2.51px;
        text-align: center;
        margin:235px auto 60px;
    }
}