 .detailContaienr {
    padding: 138px 0 0;
    font-size: 30px;
    background-color: #fff;
    min-height: 100vh;
    /* margin-top: .5rem; */
  }
  
   .detailContaienr .detailinner {
    padding: 0 50px;
  }
  .detailContaienr .detailinner>div{
    font-family: PingFangSC-Light;
    font-size: 0.34rem !important;
    color: #4A4A4A !important;
    letter-spacing: 0;
    line-height: 0.68rem;
  }
   .detailContaienr .detailinner iframe {
    width: 100%;
    height: 400px;
  }
  
   .detailContaienr .detailinner video {
    width: 100% !important;
    height: 400px !important;
  }
  
   .detailContaienr .detailinner img {
    max-width: 100% !important;
    min-width: 100% !important;
  }
  
   .detailContaienr .detailTitle {
    font-family: PingFangSC-Regular;
    font-size: 50px;
    color: #333333;
    letter-spacing: 0;
    padding: 0 50px;
  }
  
   .detailContaienr .w-info {
    display: flex;
    align-items: center;
    height: .97rem;
    padding: 0 50px;
  }
  
   .detailContaienr .auth {
    display: flex;
    align-items: center;
    font-size: .26rem;
    line-height: .37rem;
    color: #999;
  }
  
   .detailContaienr .auth-name {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
   .detailContaienr .auth .icon {
    width: 44px;
    height: 44px;
    background: #95DDFA;
    border-radius: 50%;
    display: inline-block;
    margin-right: .1rem;
    align-self: flex-end;
  }
  
   .detailContaienr .type {
    display: inline-block;
    margin-left: .3rem;
    font-size: .26rem;
    color: #24AFE7;
  }
  
   .detailContaienr .date {
    margin-left: auto;
    font-size: .26rem;
    color: #999;
  }
  
   .detailContaienr .detailinner p,  .detailContaienr .detailinner p span {
    font-family: PingFangSC-Light;
    font-size: 34px !important;
    color: #4A4A4A !important;
    letter-spacing: 0;
    line-height: 68px;
  }
  .divide{
      width: 100%;
      height: 20px;
      background: #F8F8F8;
  }
  .evaContainer{
      background-color: #fff;
  }
  .evaContent{
    flex: 1;
  }
  .evaTitle{
    padding: 30px 0 0 40px;
    font-family: PingFangSC-Medium;
    font-size: 50px;
    color: #333333;
    letter-spacing: -1.1px;
  }
  .evaList{
    margin-top: 17px;
    padding: 0 50px;
  }
  .evaItem {
    display: flex;
    padding-top:32px;
  }
  .evaItem .atv{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin-right: 30px;
  }
  .evaItem  .name{
    font-family: PingFangSC-Medium;
    font-size: 36px;
    color: #333333;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  .evaItem .time{
    font-family: PingFangSC-Regular;
    font-size: 22px;
    color: #9B9B9B;
    letter-spacing: -0.49px;
    line-height: 30px;
  }
  .evaItem .text{
    font-family: PingFangSC-Light;
    font-size: 32px;
    color: #333333;
    letter-spacing: 0;
    line-height: 45px;
    padding-bottom: 40px; 
    border-bottom: 2px solid #e5e5e5;
    margin-top: 10px;
  }
  .dateLove{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dateLove .loveIcon{
    width: 24px;
    height: 22px;
    margin-right: 10px;
  }
  .tip{
    font-family: PingFangSC-Medium;
    font-size: 32px;
    color: #B5B5B5;
    letter-spacing: 2px;
    line-height: 45px;
    text-align: center;
    padding: 30px 0 180px;
  }
  .fixBottom{
    background: #FFFFFF;
    box-shadow: 0 -1px 30px 0 #E6E4E4;
    width: 100%;
    height: 108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 58px 0 40px;
  }
  .fixBottom .fun{
    display: flex;
    align-items: center;
  }
.fun .heart,.fun .eva, .fun .share{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 67px;
}
.fun .heart .heartIcon{
    width: 32px;
    height: 28.5px;
    margin-bottom: 12px;
}
.fun .eva .plIcon{
    width: 34px;
    height: 32px;
    margin-bottom: 8px;
}
.fun .share .shareIcon{
    width: 34px;
    height: 30px;
    margin-bottom: 9px;
}
.fun .heart .num,.fun .eva .num, .fun .share .num{
    font-family: PingFangSC-Light;
    font-size: 20px;
    color: #4A4A4A;
    letter-spacing: 0;
    line-height: 28px;
}