$theme_colors: (
        blackTheme:#000000,
        redTheme:#FA0029,
        orangeTheme:#FF5C1C,
        blueTheme:#0098F8,
        pinkDarkTheme:#FF007C,
        purpleTheme:#7948FD,
        brownTheme:#B7A392
);